<section class="content-header">
  <h1>
    {{title}}
    <small>{{subTitle}}</small>
  </h1>
  <ol class="breadcrumb">
    <app-bread-crumb [title]="title" [icon]="icon"></app-bread-crumb>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-5">
      <div class="box box-default">

        <div class="box-header with-border">
          <h3 class="box-title">List of items</h3>
          <a href="" [routerLink]="['new']"><i class="fa fa-plus-square"></i></a>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <app-item-table-list></app-item-table-list>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
