<div class="login-box">
  <div class="login-logo">
    <img src="/assets/ng.svg">
    A<b style="color: #df2e31">ng</b>ular<br>
    <small>A simple sign in (true/false)</small>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary btn-block btn-flat" (click)="login()">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
