{{filtre}}
<table class="table table-hover table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>
      <app-filter-th [filterField]="filtre.title" title="TITRE"  (filterChanged)="updateFilter($event, 'title')"></app-filter-th>
    </th>
    <th>
      <app-filter-th [filterField]="filtre.description" title="DESCRIPTION"  (filterChanged)="updateFilter($event, 'description')"></app-filter-th>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items | itemsListFilter:filtre">
    <td>
      <a class="text-danger" (click)="remove(item)"><i class="fa fa-times"></i></a>
      &nbsp;<a href="" [routerLink]="['/crud', item.id]"><i class="fa fa-pencil-square-o"></i> {{item.id}}
    </a>
    </td>
    <td>
      <app-editable-td [inputField]="item.title" title="TITRE"  (inputChanged)="updateField($event, item, 'title')"></app-editable-td>
    </td>
    <td>
      <app-editable-td [inputField]="item.description" title="DESCRIPTION"  (inputChanged)="updateField($event, item, 'description')"></app-editable-td>
    </td>
  </tr>
  </tbody>
</table>
