<div (dblclick)="displayInput($event)" data-toggle="tooltip"
     [title]="!inputDisplay ? 'double click to enter edition mode' : 'press escape to cancel edition'">
  <span *ngIf="!inputDisplay">{{inputField}}</span>
  <div class="input-group" *ngIf="inputDisplay">
    <input type="text" class="form-control" [(ngModel)]="inputField" autofocus
           tabindex="0"
           placeholder="{{'update field '+ title.toLowerCase()}}"
           (input)="dirty()"
           (keydown.esc)="cancelUpdate()"
           (keydown.enter)="performUpdate()">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button"><i class="fa fa-check" (click)="performUpdate()"></i></button>
      </span>

  </div>
</div>
